<% include ../partials/admin_head.ejs%>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2>Confirm User</h2>
            <div id="require_admin_edit">

                <p>Please Confirm or Reject User</p>
            </div>


</div>
    </div>
<% include ../partials/footer.ejs%>


