<% include ../partials/admin_head.ejs%>
<div class="container">
    <div class="row">

            <h2>Confirm User</h2>
            <div id="require_admin_edit">

                <p>Please Confirm or Reject User</p>
            </div>


</div>
</div>
<% include ../partials/footer.ejs%>


