<% include ../partials/head.ejs %>
<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-xs-12 col-sm-9">
            <p>Please follow the link provided in the email sent to your address. Please be sure to check your spam folder.</p>
            <br>
            <p>If you do not receive an email shortly, please click <a href="/team3/admin_start">here</a> to try again. </p>
            <p>To return to login, click <a href ='/team3/auth/login'>here</a></p>
    </div>
    </div>
</div>
<% include ../partials/footer.ejs %>
