<% include ../partials/noSession_head.ejs %>
<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-xs-12 col-sm-9">
            <p>You have successfully opted-out of receiving surveys.</p>
            <br>
    </div>
    </div>
</div>
<% include ../partials/footer.ejs %>
