<% include ../partials/head %>
<% include ../partials/navigation%>
<div class="container-fluid">
<div class="row">
    <div class="col-xs-12 col-sm-6">

        <h2>Thank you for completing our survey!</h2>

        <h2>Merci d'avoir complété notre sondage!</h2>
    </div>
    </div>
</div>
<% include ../partials/footer %>
