body {
  background-color: whitesmoke ;
}

.info_msg {
  margin-top: 30px;
  color: blue;
}

footer {

  color: #3c3c3c;
  margin-top: 5em;
  font-size: 0.8em;
}
.title{
  margin-top: 20px;
}

.version{
  margin-top: 100px;
}
.submit {
  background-color: black;
  color: white;
}

#main_tabs > li {
    font-size: 18pt;
    padding: 3pt;
    font-weight: bold;
}

li {
    font-size: 14pt;
    font-weight: bold;
}

.feedback{
  width: 300px;
  height: 100px;
}
fieldset{
  padding: 20px;
  font-family: Verdana, Geneva, sans-serif;
  background-color: honeydew;
  border: 5px solid;
  border-bottom: 5px solid;
}

.password_requirements{
  background-color: #dff0d8;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

.no-click {
  pointer-events: none;
}



table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
    font-size: x-large;
  border: 5px solid dodgerblue;
  text-align: left;
  padding: 8px;
}
th {
    background-color: darkgray;
}
tr:nth-child(even){
    background-color: white;
}
tr:nth-child(odd){
    background-color: lightgrey;
}

.center{
    text-align: center;
}

input[type=checkbox]{
    transform: scale(2)
}
input[type=submit]{
    width: 80pt;
    height: 40pt;
}

img {
    padding-right: 30px;
}

.logout {
    text-align: right;
}

#profile_pic {
    transform: scale(1);
}