<% include ../../partials/admin_head.ejs%>

<div class="container">
    <div class="row">

        <h2></h2>

        <% if (loginMessage) { %>
        <%=loginMessage%><br />
        <% } %>

        <form class="search" action="<%=sitePrefix%>/auth/find_user" method="post">

            <div class="form-group">
                <label> Email address:
                    <input class="email" id="find_email_address" name="find_email_address"  required="required" /><br />
                </label>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>

        </form>

        <p>
            Don't have an account? Then <a href="/team3/auth/register">register</a> for one.
        </p>

        <p>
            Return To <a href="/team3/auth/login">Login</a>.
        </p>

    </div>

</div>
<% include ../../partials/footer.ejs%>