<% include ../../partials/admin_head%>
<div class="container">
    <div class="row">
        <h2>Create an account</h2>

        <% if (loginMessage) { %>
        <%=loginMessage%><br />
        <% } %>

        <form class="login" action="<%=sitePrefix%>/auth/register" method="post">

            <div class="form-group">
                <label>Enter New Password: <input type="password" class="form-control" id="passwordNew" name="passwordNew" required="required" />
                </label>
            </div>

            <div id="password_message" class="password_requirements">
                <h3>Password Requirements</h3>
                <p id="letter" class="invalid valid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid valid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid valid">A <b>number</b></p>
                <p id="symbol" class="invalid valid">A <b>symbol</b></p>
                <p id="length" class="invalid valid">Minimum <b>8 characters</b></p>
            </div>

            <div class="form-group">
                <label>Re-Enter Password:
                    <input type="password" class="form-control" id="passwordNew_confirm" name="passwordNew_confirm" required="required" /><br />
                </label>
                <p id="password_checking">Password does not match</p>

            </div>



            <button type="submit" class="btn btn-default">Submit</button>

        </form>

    </div>

</div>

<% include ../../partials/footer %>

